body{
  background-image: url('https://wallpapercave.com/wp/wp3515240.jpg');
}
.App {
  text-align: center;
}

.wrapper{
  margin-top: 20px;
}

span{
  font-weight: bold;
}

input{
  margin: 10px;
}

.card{
  background-color: rgb(66, 57, 192);
  color: aliceblue;
}